{{#if shortURL}}
<div class="transurl">
  <h3>Success! Please use this link:</h3>
  <p id="shortenurl">{{originalUrl}}/{{shortURL}}</p>
  <button class="copy" onclick="copy()">Copy</button>
  <a class="backhome" href="/">Back and try next url shorten</a>
</div>






<script>
  function copy() {
    let copyText = document.querySelector('#shortenurl').textContent
    navigator.clipboard.writeText(copyText)
    alert('Copied the url: ' + '\n' + copyText)
  }
</script>

{{else}}
<form action="/" method="POST" >
  <input type="text" name="url" placeholder="Please enter your URL here." required>
  <button class="shorten" type="submit" id="shortbtn">Shorten URL</button>
</form>
{{/if}}